<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
	<h1> Hola <%= user %></h1>

    <ul class="admin_list">
        <a href="">Agregar Producto</a>
        <a href="">Actualizar Producto</a>
        <a href="">borrar Producto</a>
    </ul>
</body>
</html>