<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>
	<%- include('./partials/header') %>
    <form action="/users/admin" method="get">
	<div class="main_login">

        <div class="mb-3">
            <label for="" class="form-label">Nombre</label>
            <input type="text" class="form-control" name="name" id="" aria-describedby="emailHelpId" placeholder="abc@mail.com">
            
          </div>

          <button type="submit"> enviar</button>
        </div>
    </form>

</body>
</html>