<header>
    <ul>
        <li><a href="/">Home</a>
            <a href="/services">Services</a>
            <a href="/services/design">Desing</a>
            <a href="/users/login">Login</a>
        </li>
    </ul>
</header>